**/target/
**/.settings/
**/.project
**/.classpath
**/.DS_Store
**/*.pyc
**/*.pmd
**/*.fpr
**/sdkdist.zip
**/*.ipr
**/*.iws
**/bin/
**/*.iml
**/*.idea
**/.cache
**/.cache-main
**/WebContent
META-INF/application.xml
**/*.sublime-project
**/*.sublime-workspace
pom.xml.versionsBackup
*.sh
**/sdkdist*
**/example*
**/tmprepo
**/scp/
**/node_modules
credentials.json
