#!/bin/bash
###
### General configuration #####################
###

### Specify effective value of 'http_proxy' / 'https_proxy' environment variables
### The specified proxy will also be used for the Jenkins and Nexus (Download Cache) processes.
### Jenkins only supports one proxy server. In this case, https_proxy will have precedence over http_proxy.
# http_proxy="http://username:password@proxy:8080"
# https_proxy="http://username:password@proxy:8080"

### Specify effective value of 'no_proxy' environment variable
# no_proxy="localhost,.corp"

###
### Build server configuration ################
###

### Address of the used docker registry
# docker_registry=registry.hub.docker.com

### Name of the used docker image
docker_image="s4sdk/jenkins-master:latest"

### Enable TLS encryption
tls_enabled=false
tls_certificate_directory=""

### Port on which jenkins will be reachable with http
### Not used when tls_enabled is set to true
http_port="80"

### Port on which jenkins will be reachable with https
https_port="443"

### Name of the Jenkins Home docker volume
jenkins_home="jenkins_home_volume"

### Directory where the backup of the jenkins_volume stored
# backup_directory="$(pwd)/backup"

### Name of the backup file
# backup_file_name="jenkins_home_$(date -u +%Y-%m-%dT%H%M%Z).tar.gz"

### Additional JAVA_OPTS for the jenkins container
### Specified value will be appended to the base value of the image
# x_java_opts="-Xmx1024m"

###
### Download cache configuration
###

### set to false to disable cache
# cache_enabled=false

### maven proxy target (default is maven central)
# mvn_repository_url="https://your-local-maven-repo.corp/maven2/"

### npm proxy target (default is central npm registy)
# npm_registry_url="https://your-local-npm-registry.corp/"

### Additional JAVA_OPTS for the download cache server
### Specified value will be appended to the base value of the image
# x_nexus_java_opts="-Xmx1024m"

